/.vs/PowerFunctionUsingRecursion/FileContentIndex/09184687-f44b-444d-95a7-9dece61be86f.vsidx
/.vs/PowerFunctionUsingRecursion/v17/Browse.VC.db
/.vs/PowerFunctionUsingRecursion/v17/Browse.VC.db-shm
/.vs/PowerFunctionUsingRecursion/v17/Browse.VC.db-wal
/.vs/PowerFunctionUsingRecursion/v17/Browse.VC.opendb
/.vs/PowerFunctionUsingRecursion/v17/ipch/AutoPCH/d99fdeefd7cfb839/POWERFUNCTIONUSINGRECURSION.ipch
